{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h1>Создать новое путешествие</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-group">
            <label for="images">Загрузить изображения</label>
            <input type="file" name="images" id="images" multiple>
            <small>Вы можете загрузить несколько изображений.</small>
        </div>

        <div class="form-group">
            <label for="caption">Подпись к изображениям (опционально)</label>
            <input type="text" name="caption" id="caption" placeholder="Введите подпись">
        </div>

        <button type="submit" class="btn">Сохранить</button>
    </form>

    <a href="{% url 'my_travels' %}" class="btn">Вернуться к моим путешествиям</a>
</div>
{% endblock %}
